/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* ******* HEADER ********** */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    width: 100%;
    margin-bottom: 30px;
}
#logoheader{
    height: 19px;
    padding: 30px 50px 30px 50px;
}
header nav{
    padding: 0 50px 0 50px;
    height: 100%;
}
header ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap : 68px;
    height: 100%;
    align-items: center;
}
ul a:hover 
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
ul a {
    padding-top: 28px;
}

/* ************* SECTION 1***************** */

#firstsection{
    margin: 0 50px 0 50px;}
h1{
    font-size:  26px;
    margin-bottom: 8px;}
p{
    font-size: 19px;}

/* *******PREMIERE DIV de section 1 */
#location{
    display: flex;
    padding: 24px 0;
}
#location form {
    display: flex;    
}
#location-icon{
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    padding: 14px 18px 15px 18px;
    color: black;
}
#location-input{
     border: 1px solid #F2F2F2;
     padding: 14px 18px 15px 18px;
     border-right: none;
     padding-left: 5px;
     font-weight: bold;
}
#buttonrechercher{
   padding: 15px 16px 15px 16px; 
   background-color:#0065FC;
   border: 1px solid #0065FC;
   border-right: none;
   border-radius: 0 15px 15px 0;
   color: white;
   cursor: pointer;
}
#buttonrechercher i {
    display: none;
}

/* ******DEUXIEME DIV de section 1 */

#filtres{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}
#filtres h2{
    font-size: 21px;
}
#divfiltres{
    display: flex;
    gap: 10px;
}
.filtresbtn{
    background-color: white;
    border: 2px solid #d9d9d9;
    padding: 12px;
    border-radius: 45px;
    cursor: pointer;   
}
#divfiltres i {
    font-size: 22px;
}
.filtresbtn:hover{
    background-color: #DEEBFF;
}
.filtresbtn span{
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ****TROISIEME DIV de section 1 */

#info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-icon{
    border: 1px solid #d9d9d9;
    color: #0065FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* **********General******* */
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
     min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}
.cardlink{
    display: block;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle{
    font-size: 14px;
}

.euro {
    font-weight: 700; 
    display: inline-block;
}

.neutral-star {
    color: var(--main-bg-color);
}
/* ***************SECTION 2 *********************** */
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 35px 50px 0 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}
.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergement-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.hebergement-cards .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
}
.hebergement-cards img {
    height: 136px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergement-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    white-space: nowrap; 
}
.hebergement-cards .card-subtitle {
    margin-bottom: 4px;
}
#h3heberg{
    margin-top: 30px;
}
.hebergement-cards .cardlink{
    flex: 1 1 calc(33.33% - 15px);
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* *************TROISIEME SECTION************* */

#activitesamarseille{
    margin: 0 50px 0 50px;
    padding: 0 30px;
}
#divactivites .cardlink {
    flex: 1 1 calc(25% - 1.3em);
}
#divactivites{
    display: flex;
    gap: 1.3em;
    flex-wrap: wrap;
}
#activitesamarseille h2{
    font-size: 22px;
    margin: 30px 30px 30px 0;
}
.cardactivites {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.cardactivites img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
}
#activitesamarseille h3{
    margin: 20px 19px;
}

/* ************FOOTER**************** */

footer{
    background-color: #F2F2F2;
    margin: 70px 50px 0px 50px;
    padding: 20px;
}
#divfooter{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
}
.footer{
    flex: 1 1 calc(33.33% - 2rem);
}
footer h3{
    font-size: 21px;
}
footer h3,
footer a p{
    margin-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
header {    display: flex;   
    flex-direction: column;
}
header nav{
    width: 100%;
}
header ul{
    gap: 0;
}
header ul li {
    width: 50%; 
    text-align: center;
}
  header ul li {
    border-bottom: 2px solid #d9d9d9; 
    padding-bottom: 10px;
    padding-top: 0;
  }

header ul li:hover{
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    border-top: none;
}
  ul a:hover {
    border-top: none; 
  }

#firstsection{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#location{
    justify-content: center;
}
#location-input {
    width: 180px;
}
    
.btn-text {
    display: none;     
  }
    #buttonrechercher i {
    display: block;    
    color: white;
    font-size: 16px;
  }

#filtres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 .filtresbtn {
    width: 40%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
#info .fa-solid {

    height: 30px;
    width: 50px;}

#divfiltres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hebergements-and-populaires section {
    border-radius: 0;
    margin-top: 0;
}

.populaires {
    order: 0;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
}
.populaires-cards a {
    width: 100%
}
.hebergements-and-populaires,
#firstsection{
    margin-left: 0;
    margin-right: 0;
}
.hebergements-and-populaires .hebergements {
    background-color: white;
}

.hebergements {
    order: 1;
    margin-top: 30px ;
}
.hebergement-cards{
    display: flex;
    flex-direction: column;
}

#activitesamarseille{
    margin: 0 20px 0 20px;
    padding-left: 0;
    padding-right: 0;
}
#divactivites {
    flex-direction: column; 
    align-items: center;    
  }

  #divactivites .cardlink {
    flex: none;             /* annule le flex pour que chaque carte ait sa taille naturelle */
    width: 90%;             /* ou autre largeur adaptée, ex: 300px */
    margin-bottom: 1em;     /* espace entre les cartes */
  }
.cardactivites img {
    height: 150px;}

footer{
    margin: 30px 0 0 0;
}
#divfooter{
    flex-direction: column;
}
}


/* very Small devices (phones, less than 383px) */
@media (max-width: 383px) {
.filtresbtn span {
    font-size: 12px;}
#divfiltres i {
    font-size: 12px;}
}